@Scripts.Render("~/bundles/jquery")
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@ViewData["titulo_modal"].ToString()</h5>
                <button type="button" class="close fas fa-times-circle" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modal-content">
                    Cargando..
                </div>
            </div>
        </div>
    </div>
</div>




