.CodeMirror {
    height: auto;
    border: 1px solid #ddd;
}

.CodeMirror-scroll {
    max-height:300px;
}

.CodeMirror pre {
    padding-left: 7px;
    line-height: 1.25;
}

.banner {
    background: #ffc;
    padding: 6px;
    border-bottom: 2px solid silver;
}

    .banner div {
        margin: 0 auto;
        max-width: 900px;
        text-align: center;
    }
.CodeMirror-gutter{
    z-index:0!important;
}